*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}


:root {
    --fg-outer: #f5d48d;
    --fg-terminal: #ffb000;
    --bg-shadow-1: color-mix(in hsl, currentColor, hsl(none none 10%));
    --bg-shadow-2: color-mix(in hsl, currentColor, hsl(none none 80%));
}

html {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-size: 125%;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

body {
    color: var(--fg-terminal);
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1.5rem;
    width: 100vw;
    height: 100vh;
    background-color: #101010;
}

.terminal {
    position: relative;
    font-family: "VT323", "Courier", monospace;
    background: #2b2b2b;
    color: #FFB000;
    height: 100%;
    border-radius: 1rem;
    animation: textShadow 1s infinite;
    overflow: scroll;

}

@media (prefers-reduced-motion: reduce) {
    .terminal {
        animation: none;
        text-shadow: 1px 0 1px var(--bg-shadow-1), -0.02px 0 1px var(--bg-shadow-2), 0 0 3px;
    }
}
.terminal-inner {
    max-width: 81rem;
    margin: auto;
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

@keyframes textShadow {
    0% {
        text-shadow: 0.2px 0 1px var(--bg-shadow-1), -0.4px 0 1px var(--bg-shadow-2), 0 0 3px;
    }
    20% {
        text-shadow: 1px 0 1px var(--bg-shadow-1), -0.02px 0 1px var(--bg-shadow-2), 0 0 3px;
    }
    40% {
        text-shadow: 0.3px 0 1px var(--bg-shadow-1), -0.4px 0 1px var(--bg-shadow-2), 0 0 3px;
    }
    60% {
        text-shadow: 0.5px 0 1px var(--bg-shadow-1), -0.7px 0 1px var(--bg-shadow-2), 0 0 3px;
    }
    80% {
        text-shadow: 0.1px 0 1px var(--bg-shadow-1), -0.8px 0 1px var(--bg-shadow-2), 0 0 3px;
    }
    100% {
        text-shadow: 0.3px 0 1px var(--bg-shadow-1), -0.07px 0 1px var(--bg-shadow-2), 0 0 3px;
    }
}

header {
    width: 100%;
}

@media (min-width: 500px) {
    header {
        display: flex;
    }
    .logo {
        flex-grow: 1;
    }
}


header > a {
    color: white;
}

header a:visited {
    color: white;
}
        

a {
    color: white;
    --color: white;
}

a.no-visit:visited {
    color: white !important;
    --color: white !important;
}

a:visited {
    color: grey;
    --color: grey;
}

.columns > .grow {
    width: 100%;
}

section {
    max-width: 30em;
}

.columns {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}


.headshot-col {
    max-width: 250px;
    margin: auto;
}

.headshot {
    border: .25rem solid var(--fg-terminal);
}

@media(min-width: 40rem) {
    .columns {
        flex-direction: row;
    }
    .headshot-col {
        width: 30%;
        max-width: none;
        margin: 0;
    }
    .headshot {
        width: 100%;
    }
}


.center {
    display: flex;
    align-items: center;
    flex-direction: column;

}

main {
    flex-grow: 1;
}

section {
    padding-top: 1.5rem;
}

.board-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

@media(min-width: 80rem) {
    .board-listing {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
    }
}

.board {
    min-width: 16rem;
}

.board tr:first-child {
    border-top: none;
}

.board caption {
    color: var(--fg-outer);
}
              
.board th {
    color: var(--fg-outer);
}

.board th:nth-child(1) {
    text-align: left;
}

.board th:nth-child(2) {
    text-align: center;
}

.board th:nth-child(3) {
    text-align: right;
}

.board td:nth-child(1) {
    text-align: left;
}

.board td:nth-child(2){
    text-align: center;
}

.board td:nth-child(3){
    text-align: right;
}

footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 75%;
}
