:root {
    --fg-emph: #f5d48d;
    --fg-terminal: #ffb000;
    --bg-shadow-1: color-mix(in hsl, currentColor, hsl(none none 10%));
    --bg-shadow-2: color-mix(in hsl, currentColor, hsl(none none 80%));
    --std-rhythm: 1.5rem;
    --snd-rhythm: calc(0.3 * var(--std-rhythm));
    --base-font: "VT323", "Courier", monospace;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

html {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--base-font);
    font-size: 125%;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

p {
    padding-bottom: var(--snd-rhythm);
}

pre {
    font-family: var(--base-font);
    display: border-box;
    border: 1px solid var(--fg-emph);
    backgroundh: #3a3a3a;
    color: var(--fg-emph);
    padding: var(--snd-rhythm);
    margin-bottom: var(--snd-rhythm);
}

body {
    color: var(--fg-terminal);
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: var(--std-rhythm);
    width: 100vw;
    height: 100vh;
    background-color: #101010;
}

footer {
    padding: var(--std-rhythm) 0;
    font-size: 75%;
}

header {
    width: 100%;
}

@media (min-width: 500px) {
    header {
        display: flex;
    }
    .logo {
        flex-grow: 1;
    }
}

header > a {
    color: white;
}

header a:visited {
    color: white;
}

a {
    color: white;
    --color: white;
}

a.no-visit:visited {
    color: white !important;
    --color: white !important;
}

a:visited {
    color: grey;
    --color: grey;
}

.columns > .grow {
    width: 100%;
}

section {
    max-width: 30em;
}

.columns {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.headshot-col {
    max-width: 250px;
    margin: auto;
}

.headshot {
    border: .25rem solid var(--fg-terminal);
}

@media(min-width: 40rem) {
    .columns {
        flex-direction: row;
    }
    .headshot-col {
        width: 30%;
        max-width: none;
        margin: 0;
    }
    .headshot {
        width: 100%;
    }
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

section {
    padding-top: var(--std-rhythm);
}


/* Create the terminal look */
.terminal {
    position: relative;
    background: #2b2b2b;
    color: #FFB000;
    height: 100%;
    border-radius: 1rem;
    animation: textShadow 1s infinite;
    overflow: scroll;
}

/* Disable animation for people that don't want 'em */
@media (prefers-reduced-motion: reduce) {
    .terminal {
        animation: none;
        /* still keep some minlam text shadow since it improves visibility. */
        text-shadow: 1px 0 1px var(--bg-shadow-1), -0.02px 0 1px var(--bg-shadow-2), 0 0 3px;
    }
}

.terminal-inner {
    max-width: 81rem;
    margin: auto;
    padding: var(--std-rhythm);
    height: 100%;
    display: flex;
    flex-direction: column;
}

@keyframes textShadow {
    0% {
        text-shadow: 0.2px 0 1px var(--bg-shadow-1), -0.4px 0 1px var(--bg-shadow-2), 0 0 3px;
    }
    20% {
        text-shadow: 1px 0 1px var(--bg-shadow-1), -0.02px 0 1px var(--bg-shadow-2), 0 0 3px;
    }
    40% {
        text-shadow: 0.3px 0 1px var(--bg-shadow-1), -0.4px 0 1px var(--bg-shadow-2), 0 0 3px;
    }
    60% {
        text-shadow: 0.5px 0 1px var(--bg-shadow-1), -0.7px 0 1px var(--bg-shadow-2), 0 0 3px;
    }
    80% {
        text-shadow: 0.1px 0 1px var(--bg-shadow-1), -0.8px 0 1px var(--bg-shadow-2), 0 0 3px;
    }
    100% {
        text-shadow: 0.3px 0 1px var(--bg-shadow-1), -0.07px 0 1px var(--bg-shadow-2), 0 0 3px;
    }
}
